{% load static %}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title id="title"></title>
<link rel="stylesheet" href="{% static 'portfolio_app/styles/main.css' %}">
<link rel="shortcut icon" type="image/jpg" href="{% static 'portfolio_app/imgs/favicons/android-chrome-192x192.png' %}"/>
<link rel="shortcut icon" type="image/jpg" href="{% static 'portfolio_app/imgs/favicons/android-chrome-512x512.png' %}"/>
<link rel="shortcut icon" type="image/jpg" href="{% static 'portfolio_app/imgs/favicons/apple-touch-icon.png' %}"/>
<link rel="shortcut icon" type="image/jpg" href="{% static 'portfolio_app/imgs/favicons/favicon-16x16.png' %}"/>
<link rel="shortcut icon" type="image/jpg" href="{% static 'portfolio_app/imgs/favicons/favicon-32x32.png' %}"/>
<link rel="shortcut icon" type="image/jpg" href="{% static 'portfolio_app/imgs/favicons/favicon.ico' %}"/>