{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "./include/head.html" %}
  </head>

  <body>
    <header>
      <div id="grid">
        {% include "./include/burger-menu.html" %}
        {% include "./include/header-grid.html" %}
      </div>

      <div id="burger-items">
        {% include "./include/burger-items.html" %}
      </div>
    </header>
    
    <main id="home">
      <div id="authors-name"></div>
      <p id="occupation"></p>
      <p id="experience"></p>
      <p>
        <a href="{% url 'portfolio_app:about_me_page' %}" id="about-me"></a>
      </p>
    </main>
  </body>

  <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script type="module" src="{% static 'portfolio_app/scripts/burger.js' %}"></script>
  <script type="module" src="{% static 'portfolio_app/scripts/language-switch.js' %}"></script>
  <script type="module" src="{% static 'portfolio_app/scripts/language-switches/templates-translation/index.js' %}"></script>
</html>
